@model Componentpalooza.ViewModels.Home.IndexViewModel

<table class="pure-table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Starts</th>
			<th>Title</th>
			<th>Length</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var appt in Model.Past)
		{
		<tr>
			<td>@appt.Id</td>
			<td>@appt.StartsAt</td>
			<td>@appt.Title</td>
			<td>@appt.FifteenMinuteMultiplier</td>
		</tr>
		}
	</tbody>
</table>

<table class="pure-table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Starts</th>
			<th>Title</th>
			<th>Length</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var appt in Model.Future)
		{
		<tr>
			<td>@appt.Id</td>
			<td>@appt.StartsAt</td>
			<td>@appt.Title</td>
			<td>@appt.FifteenMinuteMultiplier</td>
		</tr>
		}
	</tbody>
</table>
