@model Componentpalooza.ViewModels.Home.IndexViewModel

<div class="page-content">
	<div class="page-content-column">
		@foreach(var group in Model.Past)
		{
		<section class="appointment-day past-day">
			<header class="appointment-date">@Model.FormatDate(group.Key)</header>
			@foreach(var appt in group)
			{
			<div class="appointment-times">
				<date class="appointment-time">
					<span class="appointment-start">@Model.FormatTime(appt.StartsAt)</span>
					<span class="appointment-length">(@Model.FormatLength(appt.FifteenMinuteMultiplier))</span>
				</date>
				<div class="appointment-title">@appt.Title</div>
				<div class="appointment-delete">
					@using(Html.BeginForm("Delete", "Home", new {@appt.Id}, FormMethod.Post))
					{
						<input type="hidden" name="X-HTTP-Method-Override" value="DELETE">
						<button class="undecorated-button">x</button>
					}
				</div>
			</div>
			}
		</section>
		}
	</div>
	
	<div class="page-content-column">
		@foreach(var group in Model.Future)
		{
		<section class="appointment-day">
			<header class="appointment-date">@Model.FormatDate(group.Key)</header>
			@foreach(var appt in group)
			{
			<div class="appointment-times">
				<date class="appointment-time">
					<span class="appointment-start">@Model.FormatTime(appt.StartsAt)</span>
					<span class="appointment-length">(@Model.FormatLength(appt.FifteenMinuteMultiplier))</span>
				</date>
				<div class="appointment-title">@appt.Title</div>
				<div class="appointment-delete">
					@using(Html.BeginForm("Delete", "Home", new {@appt.Id}, FormMethod.Post))
					{
						<input type="hidden" name="X-HTTP-Method-Override" value="DELETE">
						<button class="undecorated-button">x</button>
					}
				</div>
			</div>
			}
		</section>
		}
	</div>

	@using(Html.BeginForm("New", "Home", FormMethod.Post, new { @class="pure-form page-content-column pure-form-stacked", id="create-event-form-card" }))
	{
	<fieldset>
		<legend>New Event</legend>

		<div class="card-content">
			<label for="startsAt">Starts at</label>
			<input type="datetime" name="appointment[StartsAt]" id="startsAt" required>

			<label for="title" >Title</label>
			<input type="text" name="appointment[Title]" id="title" required>

			<label for="length">Length</label>
			<select id="length" name="appointment[FifteenMinuteMultiplier]">
				@for(var i = 1; i < 9; i += 1)
				{
					@if(i == 4)
					{
						<option value="@i" selected>@Model.FormatLength(i)</option>
					}
					else
					{
						<option value="@i">@Model.FormatLength(i)</option>
					}
				}
			</select>

			<button type="submit" class="pure-button pure-button-primary">Create appointment</button>
		</div>
	</fieldset>
	}
</div>
