@model Componentpalooza.ViewModels.Home.IndexViewModel

<div class="page-content">
	<div class="page-content-column">
		@foreach(var group in Model.Past)
		{
		<section class="appointment-day past-day">
			<header class="appointment-date">@Model.FormatDate(group.Key)</header>
			@foreach(var appt in group)
			{
			<div class="appointment-times">
				<date class="appointment-time">
					<span class="appointment-start">@Model.FormatTime(appt.StartsAt)</span>
					<span class="appointment-length">(@Model.FormatLength(appt.FifteenMinuteMultiplier))</span>
				</date>
				<div class="appointment-title">@appt.Title</div>
				<div class="appointment-delete">
					@using(Html.BeginForm("Delete", "Home", new {@appt.Id}, FormMethod.Post))
					{
						<input type="hidden" name="X-HTTP-Method-Override" value="DELETE">
						<button class="undecorated-button">x</button>
					}
				</div>
			</div>
			}
		</section>
		}
	</div>
	
	<div class="page-content-column">
		@foreach(var group in Model.Future)
		{
		<section class="appointment-day">
			<header class="appointment-date">@Model.FormatDate(group.Key)</header>
			@foreach(var appt in group)
			{
			<div class="appointment-times">
				<date class="appointment-time">
					<span class="appointment-start">@Model.FormatTime(appt.StartsAt)</span>
					<span class="appointment-length">(@Model.FormatLength(appt.FifteenMinuteMultiplier))</span>
				</date>
				<div class="appointment-title">@appt.Title</div>
				<div class="appointment-delete">
					@using(Html.BeginForm("Delete", "Home", new {@appt.Id}, FormMethod.Post))
					{
						<input type="hidden" name="X-HTTP-Method-Override" value="DELETE">
						<button class="undecorated-button">x</button>
					}
				</div>
			</div>
			}
		</section>
		}
	</div>

	<form asp-controller="Home" asp-action="New" class="pure-form page-content-column pure-form-stacked" id="create-event-form-card">
		<fieldset>
			<legend>New Event</legend>
	
			<div class="card-content">
				<label asp-for="StartsAt">Starts at</label>
				<input asp-for="StartsAt">
	
				<label asp-for="Title">Title</label>
				<input asp-for="Title">
				
				<label asp-for="FifteenMinuteMultiplier">Length</label>
				<select asp-for="FifteenMinuteMultiplier" asp-items="Model.Multipliers"></select>
	
				<button type="submit" class="pure-button pure-button-primary">Create appointment</button>
			</div>
		</fieldset>
	</form>
</div>
